# Projet 4 : Réalisez une étude de santé publique avec R ou Python

### Mission: 
> Réaliser une étude de grande ampleur sur le thème de la sous-nutrition dans le monde, au sein de la  Food and Agriculture Organization of the United Nations (FAO).

## Sommaire :


### Partie 1: Importation et nettoyage des données

#### [1) Importation des données](#A1)
#### [2) Nettoyage et Préparation des données](#A2)

 - [1.Table de Disponibilité alimentaire](#A2.1)
 - [2.Table de Sous-nutrition](#A2.2)
 - [3.Table de Population](#A2.3)
 - [4.Table d'Aide alimentaire](#A2.4)
 
### Partie 2: Analyses des données

#### [1) Recherches pour Marc](#B1)

- [1.1. Proportion de personnes en état de sous-nutrition pour l'année 2017](#B1.1)
- [1.2. Nombre théorique de personnes qui pourraient être nourries en 2017](#B1.2)
- [1.3. Nombre théorique de personnes qui pourraient être nourries par les produits végétaux](#B1.3)
- [1.4. Utilisation de la disponibilité intérieure, en particulier la part qui est attribuée à l’alimentation animale, celle qui est perdue et celle qui est concrètement utilisée pour l'alimentation humaine](#B1.4)

#### [2) Recherches pour Julien](#B2)

- [2.1. Proportion des céréales pour l'alimentation humaine](#B2.1)
- [2.2. Proportion des céréales pour l'alimentation animale](#B2.2)
- [2.3. Proportion de personnes en sous-nutrition en Thaïlande](#B2.3)
- [2.4. Proportion d'exportation du manioc par rapport à la production en Thaïlande](#B2.4)

#### [3) Recherches pour Mélanie](#B3)

- [3.1. Liste des pays pour lesquels la proportion de personnes sous-alimentées est la plus forte en 2017](#B3.1)
- [3.2. Liste des Pays qui ont le plus bénéficié d'aide alimentaire depuis 2013](#B3.2)
- [3.3. Liste des Pays ayant le plus de disponibilité par habitant](#B3.3)
- [3.4. Liste des Pays ayant le moins de disponibilité par habitant](#B3.4)

# Partie 1: Importation et nettoyage des données

## <a id="A1">1) Importation des données</a>

In [1]:
# import des librairies dont nous aurons besoin
import pandas as pd
import numpy as np

# chargement des données des fichiers csv
dispo     = pd.read_csv('dispo_alimentaire.csv')
sous_nut  = pd.read_csv('sous_nutrition.csv')
pop       = pd.read_csv('population.csv')
aide_alim = pd.read_csv('aide_alimentaire.csv')

In [2]:
# Mise en forme du notebook pour une bonne lecture :

# 1. formatage des résultats avec des séparateurs de milliers

# 2. création d'une classe nommée 'color' pour mettre en forme nos résultats.
class color:
   BLUE = '\033[94m'
   RED = '\033[91m'
   BOLD = '\033[1m'
   UNDERLINE = '\033[4m'
   END = '\033[0m'

## <a id="A2">2) Nettoyage et Préparation des données</a>

### <a id="A2.1">1.Table de Disponibilité alimentaire</a>

In [3]:
# Affichage de la table de disponibilité alimentaire

dispo = pd.read_csv('dispo_alimentaire.csv')
dispo.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN

In [4]:
# Vérification des dimension du dataframe

dispo.shape

(15605, 18)

In [5]:
# Renommage et réorganisation des variables
dispo.rename(columns = {'Zone': 'pays','Produit': 'produit', 'Origine':'origine',
                      'Aliments pour animaux': 'aliments_animaux', 'Autres Utilisations': 'autres_utilisations',
                      'Disponibilité alimentaire (Kcal/personne/jour)': 'dispo_alim_kcal/pers/j',
                      'Disponibilité alimentaire en quantité (kg/personne/an)': 'dispo_alim_kg/pers/an',
                      'Disponibilité de matière grasse en quantité (g/personne/jour)': 'dispo_matiere_grasse_g/pers/j', 
                      'Disponibilité de protéines en quantité (g/personne/jour)': 'dispo_proteine_g/pers/j', 
                      'Disponibilité intérieure': 'dispo_interieure', 'Exportations - Quantité': 'qte_exportation', 
                      'Importations - Quantité': 'qte_importation', 'Nourriture':'nourriture', 'Pertes':'pertes', 
                      'Production':'production', 'Semences': 'semences', 'Traitement': 'traitement', 
                      'Variation de stock': 'variation_stock'}, inplace=True)

dispo=dispo.reindex(columns = ['pays', 'produit', 'origine','dispo_alim_kcal/pers/j', 'dispo_alim_kg/pers/an', 
                               'dispo_matiere_grasse_g/pers/j', 'dispo_proteine_g/pers/j', 'aliments_animaux', 'autres_utilisations',
                               'dispo_interieure', 'qte_exportation', 'qte_importation', 'nourriture', 'pertes', 
                               'production', 'semences', 'traitement', 'variation_stock'])
dispo.head()

,pays,produit,origine,dispo_alim_kcal/pers/j,dispo_alim_kg/pers/an,dispo_matiere_grasse_g/pers/j,dispo_proteine_g/pers/j,aliments_animaux,autres_utilisations,dispo_interieure,qte_exportation,qte_importation,nourriture,pertes,production,semences,traitement,variation_stock
0,Afghanistan,Abats Comestible,animale,5.0,1.72,0.20,0.77,NaN,NaN,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
1,Afghanistan,"Agrumes, Autres",vegetale,1.0,1.29,0.01,0.02,NaN,NaN,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,1.0,0.06,0.01,0.03,NaN,NaN,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,0.0,0.00,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,4.0,2.70,0.02,0.05,NaN,NaN,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN

In [6]:
# Vérification des erreurs de type

dispo.dtypes

pays                              object
produit                           object
origine                           object
dispo_alim_kcal/pers/j           float64
dispo_alim_kg/pers/an            float64
dispo_matiere_grasse_g/pers/j    float64
dispo_proteine_g/pers/j          float64
aliments_animaux                 float64
autres_utilisations              float64
dispo_interieure                 float64
qte_exportation                  float64
qte_importation                  float64
nourriture                       float64
pertes                           float64
production                       float64
semences                         float64
traitement                       float64
variation_stock                  float64
dtype: object

In [7]:
# Vérificaton des valeurs manquantes

dispo.isnull().sum()

pays                                 0
produit                              0
origine                              0
dispo_alim_kcal/pers/j            1364
dispo_alim_kg/pers/an             1590
dispo_matiere_grasse_g/pers/j     3811
dispo_proteine_g/pers/j           4044
aliments_animaux                 12885
autres_utilisations              10109
dispo_interieure                   223
qte_exportation                   3379
qte_importation                    753
nourriture                        1590
pertes                           11327
production                        6425
semences                         13514
traitement                       13313
variation_stock                   8829
dtype: int64

In [8]:
# Remplacement des Valeurs manquantes par des '0'

dispo = dispo.fillna(0)
dispo.head()

,pays,produit,origine,dispo_alim_kcal/pers/j,dispo_alim_kg/pers/an,dispo_matiere_grasse_g/pers/j,dispo_proteine_g/pers/j,aliments_animaux,autres_utilisations,dispo_interieure,qte_exportation,qte_importation,nourriture,pertes,production,semences,traitement,variation_stock
0,Afghanistan,Abats Comestible,animale,5.0,1.72,0.20,0.77,0.0,0.0,53.0,0.0,0.0,53.0,0.0,53.0,0.0,0.0,0.0
1,Afghanistan,"Agrumes, Autres",vegetale,1.0,1.29,0.01,0.02,0.0,0.0,41.0,2.0,40.0,39.0,2.0,3.0,0.0,0.0,0.0
2,Afghanistan,Aliments pour enfants,vegetale,1.0,0.06,0.01,0.03,0.0,0.0,2.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,Ananas,vegetale,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,Bananes,vegetale,4.0,2.70,0.02,0.05,0.0,0.0,82.0,0.0,82.0,82.0,0.0,0.0,0.0,0.0,0.0

In [9]:
# Variables de Disponibilité alimentaire: expression des quantités en kcal/personne/an et kg/personne/an

dispo['dispo_alim_kcal/pers/j'] = dispo['dispo_alim_kcal/pers/j'] * 365              # kcal/pers/j --> kcal/pers/an 
dispo['dispo_matiere_grasse_g/pers/j'] = dispo['dispo_matiere_grasse_g/pers/j'] * 365 / 1000   # g/pers/j --> kg/pers/an
dispo['dispo_proteine_g/pers/j'] = dispo['dispo_proteine_g/pers/j'] * 365 / 1000               # g/pers/j --> kg/pers/an

# Renommage des variables de Disponibilité alimentaire

dispo.rename(columns = {'dispo_alim_kcal/pers/j' : 'dispo_alim_kcal/pers/an', 
                        'dispo_matiere_grasse_g/pers/j': 'dispo_matiere_grasse_kg/pers/an',
                        'dispo_proteine_g/pers/j' : 'dispo_proteine_kg/pers/an'}, inplace=True)
dispo.iloc[:, 3:7].head()

,dispo_alim_kcal/pers/an,dispo_alim_kg/pers/an,dispo_matiere_grasse_kg/pers/an,dispo_proteine_kg/pers/an
0,1825.0,1.72,0.07300,0.28105
1,365.0,1.29,0.00365,0.00730
2,365.0,0.06,0.00365,0.01095
3,0.0,0.00,0.00000,0.00000
4,1460.0,2.70,0.00730,0.01825

In [10]:
# Variables d'utilisations/moyens d'acquisition de disponibilité alimentaire: Conversion de 'milliers de tonnes' en 'kg'

dispo.iloc[:, 7:] = dispo.iloc[:, 7:] * 1000000
dispo.head()

,pays,produit,origine,dispo_alim_kcal/pers/an,dispo_alim_kg/pers/an,dispo_matiere_grasse_kg/pers/an,dispo_proteine_kg/pers/an,aliments_animaux,autres_utilisations,dispo_interieure,qte_exportation,qte_importation,nourriture,pertes,production,semences,traitement,variation_stock
0,Afghanistan,Abats Comestible,animale,1825.0,1.72,0.07300,0.28105,0.0,0.0,53000000.0,0.0,0.0,53000000.0,0.0,53000000.0,0.0,0.0,0.0
1,Afghanistan,"Agrumes, Autres",vegetale,365.0,1.29,0.00365,0.00730,0.0,0.0,41000000.0,2000000.0,40000000.0,39000000.0,2000000.0,3000000.0,0.0,0.0,0.0
2,Afghanistan,Aliments pour enfants,vegetale,365.0,0.06,0.00365,0.01095,0.0,0.0,2000000.0,0.0,2000000.0,2000000.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,Ananas,vegetale,0.0,0.00,0.00000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,Bananes,vegetale,1460.0,2.70,0.00730,0.01825,0.0,0.0,82000000.0,0.0,82000000.0,82000000.0,0.0,0.0,0.0,0.0,0.0

In [11]:
# Vérification des doublons

dispo.loc[dispo[['pays', 'produit', 'origine', 'aliments_animaux', 'autres_utilisations', 
                 'dispo_interieure', 'qte_exportation']].duplicated(keep=False)].shape[0]

0

In [12]:
# Vérification de valeurs aberrantes et atypiques

dispo.describe()

,dispo_alim_kcal/pers/an,dispo_alim_kg/pers/an,dispo_matiere_grasse_kg/pers/an,dispo_proteine_kg/pers/an,aliments_animaux,autres_utilisations,dispo_interieure,qte_exportation,qte_importation,nourriture,pertes,production,semences,traitement,variation_stock
count,15605.000000,15605.000000,15605.000000,15605.000000,1.560500e+04,1.560500e+04,1.560500e+04,1.560500e+04,1.560500e+04,1.560500e+04,1.560500e+04,1.560500e+04,1.560500e+04,1.560500e+04,1.560500e+04
mean,11588.358219,7.830948,0.353960,0.330877,8.357866e+07,5.543243e+07,6.311435e+08,8.664902e+07,8.305370e+07,3.124805e+08,2.907389e+07,6.414406e+08,9.912272e+06,1.412808e+08,-6.690292e+06
std,37580.835780,23.478909,1.185044,1.147383,1.779289e+09,3.013630e+09,9.002564e+09,9.334352e+08,7.000995e+08,4.242855e+09,5.846722e+08,9.270864e+09,1.948978e+08,3.992568e+09,3.623808e+08
min,-7665.000000,-1.930000,-0.010950,-0.135050,0.000000e+00,0.000000e+00,-3.430000e+09,-4.100000e+07,-2.010000e+08,-2.460000e+08,0.000000e+00,0.000000e+00,0.000000e+00,-1.900000e+07,-3.986300e+10
25%,0.000000,0.010000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1095.000000,0.520000,0.007300,0.007300,0.000000e+00,0.000000e+00,6.000000e+06,0.000000e+00,1.000000e+06,3.000000e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,6570.000000,4.270000,0.113150,0.127750,0.000000e+00,0.000000e+00,7.300000e+07,4.000000e+06,1.600000e+07,4.000000e+07,0.000000e+00,4.200000e+07,0.000000e+00,0.000000e+00,0.000000e+00
max,624515.000000,430.760000,22.177400,20.064050,1.500000e+11,3.473090e+11,7.392670e+11,4.279700e+10,6.338100e+10,4.268500e+11,5.504700e+10,7.392670e+11,1.706000e+10,3.267110e+11,5.284000e+09

### <a id="A2.2">2.Table de Sous-nutrition</a>

In [13]:
# Affichage des données de Sous-nutrition ou d'insécurité alimentaire

sous_nut = pd.read_csv('sous_nutrition.csv')
sous_nut.head()

          Zone      Année Valeur
0  Afghanistan  2012-2014    8.6
1  Afghanistan  2013-2015    8.8
2  Afghanistan  2014-2016    8.9
3  Afghanistan  2015-2017    9.7
4  Afghanistan  2016-2018   10.5

In [14]:
# Vérification des dimension du dataframe

sous_nut.shape

(1218, 3)

In [15]:
# Renommage des variables

sous_nut.rename(columns = {'Zone': 'pays', 'Année': 'annee', 'Valeur': 'pop_sous_nut'}, inplace = True)
sous_nut.head()

          pays      annee pop_sous_nut
0  Afghanistan  2012-2014          8.6
1  Afghanistan  2013-2015          8.8
2  Afghanistan  2014-2016          8.9
3  Afghanistan  2015-2017          9.7
4  Afghanistan  2016-2018         10.5

In [16]:
# Vérification des erreurs de type

sous_nut.dtypes

pays            object
annee           object
pop_sous_nut    object
dtype: object

In [17]:
# Normalisation de la Table 'annee'

sous_nut['annee'].value_counts()                                # liste les différentes années et le nombre répétition
sous_nut['annee'] = sous_nut['annee'].map({'2012-2014': 2013,   # On choisit la moyenne des 3 années
                                           '2013-2015': 2014, 
                                           '2014-2016': 2015, 
                                           '2015-2017': 2016, 
                                           '2016-2018': 2017, 
                                           '2017-2019': 2018})
sous_nut.head()

          pays  annee pop_sous_nut
0  Afghanistan   2013          8.6
1  Afghanistan   2014          8.8
2  Afghanistan   2015          8.9
3  Afghanistan   2016          9.7
4  Afghanistan   2017         10.5

In [18]:
# Variable 'annee': Changement du type en entier (integer)

sous_nut['annee'] = pd.to_numeric(sous_nut['annee'])
sous_nut.dtypes

pays            object
annee            int64
pop_sous_nut    object
dtype: object

In [19]:
# Variable 'nbre_personnes': Vérification des valeurs uniques

sous_nut['pop_sous_nut'].unique()

array(['8.6', '8.8', '8.9', '9.7', '10.5', '11.1', '2.2', '2.5', '2.8',
       '3', '3.1', '3.3', '0.1', '1.3', '1.2', nan, '7.6', '6.2', '5.3',
       '5.6', '5.8', '5.7', '1.5', '1.6', '1.1', '1.7', '<0.1', '21.7',
       '22.4', '23.3', '22.3', '21.5', '20.9', '0.8', '2', '1.9', '1.8',
       '0.4', '0.5', '0.3', '0.2', '3.2', '3.4', '3.6', '3.8', '2.1',
       '2.3', '2.4', '0.6', '0.7', '0.9', '3.9', '2.7', '1.4', '4.8',
       '4.6', '4.9', '5', '4.4', '4.3', '4.2', '4.5', '26.2', '24.3',
       '21.3', '21.1', '2.9', '5.1', '5.2', '5.4', '203.8', '198.3',
       '193.1', '190.9', '190.1', '189.2', '23.6', '24', '24.1', '3.7',
       '7.3', '7.8', '8.4', '9', '9.1', '10.1', '10', '10.7', '11.5',
       '11.9', '11.8', '8.7', '10.3', '11', '1', '5.5', '6.8', '7.9',
       '5.9', '7', '9.2', '9.4', '9.6', '6.7', '7.1', '7.2', '14.7',
       '17.4', '20.2', '22.2', '22.8', '24.6', '31.1', '28.5', '25.4',
       '24.8', '26.1', '14.5', '15.4', '16.5', '15.8', '15.7', '10.8',
       '11.2', '11.6', '12', '12.2', '13.5', '13.2', '12.8', '13', '13.4',
       '14.1', '4.1', '6.1', '6', '6.5', '2.6', '8', '8.3'], dtype=object)

In [20]:
# Variable 'nbre_personnes': Remplacement des valeurs 'Nan' et '<0.1' par des '0'

sous_nut.loc[(sous_nut['pop_sous_nut'] == '<0.1') | (sous_nut['pop_sous_nut'].isnull()), 'pop_sous_nut'] = 0
sous_nut['pop_sous_nut'].unique()

array(['8.6', '8.8', '8.9', '9.7', '10.5', '11.1', '2.2', '2.5', '2.8',
       '3', '3.1', '3.3', '0.1', '1.3', '1.2', 0, '7.6', '6.2', '5.3',
       '5.6', '5.8', '5.7', '1.5', '1.6', '1.1', '1.7', '21.7', '22.4',
       '23.3', '22.3', '21.5', '20.9', '0.8', '2', '1.9', '1.8', '0.4',
       '0.5', '0.3', '0.2', '3.2', '3.4', '3.6', '3.8', '2.1', '2.3',
       '2.4', '0.6', '0.7', '0.9', '3.9', '2.7', '1.4', '4.8', '4.6',
       '4.9', '5', '4.4', '4.3', '4.2', '4.5', '26.2', '24.3', '21.3',
       '21.1', '2.9', '5.1', '5.2', '5.4', '203.8', '198.3', '193.1',
       '190.9', '190.1', '189.2', '23.6', '24', '24.1', '3.7', '7.3',
       '7.8', '8.4', '9', '9.1', '10.1', '10', '10.7', '11.5', '11.9',
       '11.8', '8.7', '10.3', '11', '1', '5.5', '6.8', '7.9', '5.9', '7',
       '9.2', '9.4', '9.6', '6.7', '7.1', '7.2', '14.7', '17.4', '20.2',
       '22.2', '22.8', '24.6', '31.1', '28.5', '25.4', '24.8', '26.1',
       '14.5', '15.4', '16.5', '15.8', '15.7', '10.8', '11.2', '11.6',
       '12', '12.2', '13.5', '13.2', '12.8', '13', '13.4', '14.1', '4.1',
       '6.1', '6', '6.5', '2.6', '8', '8.3'], dtype=object)

In [21]:
# Variable 'nbre_personnes': Changement du type en entier (integer) et d'unité

sous_nut['pop_sous_nut'] = pd.to_numeric(sous_nut['pop_sous_nut'], downcast = 'float') # Passage au format décimal
sous_nut['pop_sous_nut'] = sous_nut['pop_sous_nut'] * 1000000   # Passage de millions d'habitants à habitants 

sous_nut = sous_nut.astype({"pop_sous_nut": np.dtype("int64")}) # Conversion en entier(integer)
sous_nut.dtypes

pays            object
annee            int64
pop_sous_nut     int64
dtype: object

In [22]:
# Vérification des Valeurs manquantes

sous_nut.isnull().sum()

pays            0
annee           0
pop_sous_nut    0
dtype: int64

In [23]:
# Vérification des doublons

sous_nut.loc[sous_nut[['pays','annee','pop_sous_nut']].duplicated(keep = False)].shape[0]

0

In [24]:
# Vérification de valeurs aberrantes et atypiques

sous_nut.describe()

             annee  pop_sous_nut
count  1218.000000  1.218000e+03
mean   2015.500000  2.614778e+06
std       1.708527  1.414881e+07
min    2013.000000  0.000000e+00
25%    2014.000000  0.000000e+00
50%    2015.500000  0.000000e+00
75%    2017.000000  1.200000e+06
max    2018.000000  2.038000e+08

### <a id="A2.3">3.Table de Population</a>

In [25]:
# Affichage des données de Population

pop = pd.read_csv('population.csv')
pop.head()

          Zone  Année     Valeur
0  Afghanistan   2013  32269.589
1  Afghanistan   2014  33370.794
2  Afghanistan   2015  34413.603
3  Afghanistan   2016  35383.032
4  Afghanistan   2017  36296.113

In [26]:
# Vérification des dimension du dataframe

pop.shape

(1416, 3)

In [27]:
# Renommage des variables

pop.rename(columns = {'Zone': 'pays', 'Année': 'annee', 'Valeur': 'population'}, inplace = True)
pop.head()

          pays  annee  population
0  Afghanistan   2013   32269.589
1  Afghanistan   2014   33370.794
2  Afghanistan   2015   34413.603
3  Afghanistan   2016   35383.032
4  Afghanistan   2017   36296.113

In [28]:
# Vérification des erreurs de type

pop.dtypes

pays           object
annee           int64
population    float64
dtype: object

In [29]:
# Variable 'population': Changement du type en entier(integer) et d'unité

pop['population'] = pop['population'] * 1000
pop = pop.astype({"population": np.dtype("int64")})
pop.dtypes

pays          object
annee          int64
population     int64
dtype: object

In [30]:
# Vérification des Valeurs manquantes

pop.isnull().sum()

pays          0
annee         0
population    0
dtype: int64

In [31]:
# Vérification des doublons

pop.loc[pop[['pays', 'annee', 'population']].duplicated(keep = False), :].shape[0]

0

In [32]:
# Vérification de valeurs aberrantes et atypiques

pop.describe()

             annee    population
count  1416.000000  1.416000e+03
mean   2015.500000  3.144793e+07
std       1.708428  1.300812e+08
min    2013.000000  7.920000e+02
25%    2014.000000  3.783410e+05
50%    2015.500000  5.126480e+06
75%    2017.000000  1.930666e+07
max    2018.000000  1.427648e+09

### <a id="A2.4">4.Table d'Aide alimentaire</a>

In [33]:
# Affichage des données 'Aide_alimentaire'

aide_alim = pd.read_csv('aide_alimentaire.csv')
aide_alim.head()

  Pays bénéficiaire  Année              Produit  Valeur
0       Afghanistan   2013  Autres non-céréales     682
1       Afghanistan   2014  Autres non-céréales     335
2       Afghanistan   2013         Blé et Farin   39224
3       Afghanistan   2014         Blé et Farin   15160
4       Afghanistan   2013             Céréales   40504

In [34]:
# Vérification des dimension du dataframe

aide_alim.shape

(1475, 4)

In [35]:
# Renommage des variables

aide_alim.rename(columns = {'Pays bénéficiaire': 'pays', 'Année': 'annee','Produit': 'produit',
                        'Valeur': 'quantite'}, inplace = True)
aide_alim.head()

          pays  annee              produit  quantite
0  Afghanistan   2013  Autres non-céréales       682
1  Afghanistan   2014  Autres non-céréales       335
2  Afghanistan   2013         Blé et Farin     39224
3  Afghanistan   2014         Blé et Farin     15160
4  Afghanistan   2013             Céréales     40504

In [36]:
# Vérification des erreurs de type

aide_alim.dtypes

pays        object
annee        int64
produit     object
quantite     int64
dtype: object

In [37]:
# Variable 'quantite': Conversion des valeurs en kg et changement du type en float

aide_alim['quantite'] = aide_alim['quantite'] * 1000
aide_alim['quantite'] = aide_alim['quantite'].astype(float)
aide_alim.dtypes

pays         object
annee         int64
produit      object
quantite    float64
dtype: object

In [38]:
# Vérification des Valeurs manquantes

aide_alim.isnull().sum()

pays        0
annee       0
produit     0
quantite    0
dtype: int64

In [39]:
# Vérification des doublons

aide_alim.loc[aide_alim[['pays', 'annee', 'produit', 'quantite']].duplicated(keep = False), :].shape[0]

0

In [40]:
# Vérification de valeurs aberrantes et atypiques

aide_alim.describe()

             annee      quantite
count  1475.000000  1.475000e+03
mean   2014.054237  7.481967e+06
std       0.946916  2.333953e+07
min    2013.000000  0.000000e+00
25%    2013.000000  2.875000e+05
50%    2014.000000  1.178000e+06
75%    2015.000000  4.334500e+06
max    2016.000000  2.650130e+08

# Partie 2: Analyses des données

## <a id="B1">1) Recherches pour Marc </a>

###  <a id="B1.1">1.1. Proportion de personnes en état de sous-nutrition pour l'année 2017.</a>

In [41]:
# Calcul de la population mondiale en 2017

pop17 = pop.loc[pop['annee'] == 2017]
pop_mondiale17 = pop17['population'].sum()

# Calcul du nombre de personnes en sous_nutrition en 2017

sous_nut17 = sous_nut.loc[sous_nut['annee'] == 2017]
total_sous_nut17 = sous_nut17['pop_sous_nut'].sum()

# Calcul de la Proportion de personnes en sous-nutrition en 2017

proportion_sous_nut17 = round(total_sous_nut17 * 100 / pop_mondiale17, 2)
print(' ')
print('En 2017, il y a eu ',color.BOLD+ f"{proportion_sous_nut17:,}", '%' +color.END,' de personnes en sous-nutrition dans le monde.'+color.END)

En 2017, il y a eu  7.1 %  de personnes en sous-nutrition dans le monde.

### <a id="B1.2">1.2. Nombre théorique de personnes qui pourraient être nourries en 2017.</a>

Dans notre étude nous prendrons comme constante de besoin alimentaire : **2 500 kcal/pers/j**, suivant les recommandations du Règlement 1169/2011 de L'Union Européenne concernant les Apports de référence en énergie.

In [42]:
# Création d'une nouvelle table pour représenter la disponibilité par pays 

dispo_parPays = dispo.groupby(['pays'])[['dispo_alim_kcal/pers/an']].sum().reset_index()

# Renommage de la variable 'dispo_alim_kcal/pers/an' en 'dispo_alim_kcal/pays/an'

dispo_parPays.rename(columns = {'dispo_alim_kcal/pers/an': 'dispo_alim_kcal/pays/an'}, inplace = True)

# Aggrégation des tables de disponibilité par pays et population

dispo_mondiale17 = pd.merge(dispo_parPays, pop17, on = 'pays')

# Modification de la variable 'dispo_alim_kcal/pays/an' pour correspondre au nombre d'habitants par pays

dispo_mondiale17['dispo_alim_kcal/pays/an'] = dispo_mondiale17['dispo_alim_kcal/pays/an'] * dispo_mondiale17['population']

# 1- Calcul de la disponiblité alimentaire mondiale en 2017

dispo_alim17 = dispo_mondiale17['dispo_alim_kcal/pays/an'].sum()

# 2- Calcul du besoin alimentaire en Kcal/pers/an

besoin_alim = 2500 * 365

# 3- Calcul de la population mondiale en 2017

pop_mondiale17 = pop17['population'].sum()

# 4- Calcul du nombre théorique de personnes qui pourraient être nourries en 2017

pop_nourrissable17 = round(dispo_alim17 / besoin_alim, 0)

# 5- Calcul du pourcentage de population qui pourrait être nourrie en 2017

pourcent_pop = round(pop_nourrissable17 * 100 / pop_mondiale17, 2)

print(' ')
print('Avec une Disponibilité alimentaire mondiale de',color.BOLD+ f"{dispo_alim17:,}", 'kcal' +color.END,'et un Besoin alimentaire de',color.BOLD+ f"{besoin_alim:,}" +color.END, 'Kcal/pers/an, on aurait pu nourrir',color.BOLD+ f"{pop_nourrissable17:,}" +color.END, 'personnes en 2017. Ce qui représente', color.BOLD+ f"{pourcent_pop:,}"+color.END, '% de la population mondiale.')

Avec une Disponibilité alimentaire mondiale de 7,635,429,382,287,555.0 kcal et un Besoin alimentaire de 912,500 Kcal/pers/an, on aurait pu nourrir 8,367,593,844.0 personnes en 2017. Ce qui représente 110.86 % de la population mondiale.

### <a id="B1.3">1.3. Nombre théorique de personnes qui pourraient être nourries par les produits végétaux.</a>

In [43]:
#Création de la table disponibilité alimentaire végétale

dispo_vegetale17 = dispo.loc[dispo['origine'] == 'vegetale']

# Calcul de la disponibilité vegetale mondiale par pays

dispo_vegetale_parPays = dispo_vegetale17.groupby(['pays'])[['dispo_alim_kcal/pers/an']].sum().reset_index() 

# Renommage de la variable 'dispo_alim_kcal/pers/an' en 'dispo_alim_kcal/pays/an'

dispo_vegetale_parPays.rename(columns = {'dispo_alim_kcal/pers/an': 'dispo_alim_kcal/pays/an'}, inplace = True)

# Aggrégation des tables de disponibilité alimentaire végétale par pays et population

dispo_vegetale_mondiale17 = pd.merge(dispo_vegetale_parPays, pop17, on = 'pays')

# Modification de la variable 'dispo_alim_kcal/pays/an' pour tenir compte du nombre d'habitants par pays

dispo_vegetale_mondiale17['dispo_alim_kcal/pays/an'] = dispo_vegetale_mondiale17['dispo_alim_kcal/pays/an'] * dispo_vegetale_mondiale17['population']

# 1- Calcul de la disponiblité alimentaire végétale mondiale en 2017

dispo_vegetale_totale17 = dispo_vegetale_mondiale17['dispo_alim_kcal/pays/an'].sum()

# 2- Calcul du nombre de personnes qui pourraient être nourries par les produits végétaux en 2017

pop_vegetale_nourrissable17 = round(dispo_vegetale_totale17 / besoin_alim, 0)

# 3- Calcul du pourcentage de la population qui pourrait être nourrie en 2017

pourcent_pop_vegetale = round(pop_vegetale_nourrissable17 * 100 / pop_mondiale17, 2)

print(' ')
print('En 2017, on aurait pu nourrir',color.BOLD+ f"{pop_vegetale_nourrissable17:,}"+color.END, 'personnes par les produits végétaux.'
      ' Soit', color.BOLD+ f"{pourcent_pop_vegetale:,}" +color.END, '% de la population mondiale.' )

En 2017, on aurait pu nourrir 6,904,305,679.0 personnes par les produits végétaux. Soit 91.47 % de la population mondiale.

### <a id="B1.4">1.4. Utilisation de la disponibilité intérieure, en particulier la part qui est attribuée à l’alimentation animale, celle qui est perdue et celle qui est concrètement utilisée pour l'alimentation humaine.</a>

### a) Utilisation de la disponibilité intérieure pour l'alimentation humaine:

In [44]:
# Calcul de la disponibilité intérieure totale

dispo_int_totale = dispo['dispo_interieure'].sum()

# Calcul de la disponibilité intérieure pour l'alimentation humaine

dispo_int_hummaine = dispo['nourriture'].sum()

# Calcul de la proportion de la disponibilité intérieure pour l'alimentation humaine

prop_hum = round(dispo_int_hummaine * 100 / dispo_int_totale, 2)
print(' ')
print("La disponibilité intérieure pour l'alimentation humaine représente",color.BOLD+ f"{prop_hum:,}", '%.' +color.END)

La disponibilité intérieure pour l'alimentation humaine représente 49.51 %.

### b) Utilisation de la disponibilité intérieure pour l'alimentation animale:

In [45]:
# Calcul de la disponibilité intérieure pour l'alimentation animale

dispo_int_animale = dispo['aliments_animaux'].sum()

# Calcul de la proportion de la disponibilité intérieure pour l'alimentation animale

prop_animale = round(dispo_int_animale * 100 / dispo_int_totale, 2)
print(' ')
print("La disponibilité intérieure pour l'alimentation animale représente",color.BOLD+ f"{prop_animale:,}", '%.' +color.END)

La disponibilité intérieure pour l'alimentation animale représente 13.24 %.

### c)  Calucul de la disponibilité intérieure perdue:

In [46]:
# Calcul des pertes de la  disponibilité intérieure

dispo_int_pertes = dispo['pertes'].sum()

# Calcul de la proportion de la disponibilité intérieure perdue

prop_pertes = round(dispo_int_pertes * 100 / dispo_int_totale, 2)
print(' ')
print("La disponibilité intérieure perdue représente", color.BOLD+ f"{prop_pertes:,}", '%.' +color.END)

La disponibilité intérieure perdue représente 4.61 %.

##  Recommandations:

> - Avec une disponibilité aliemntaire mondiale de 110 %, il est anormal d'avoir 7 % de la population mondiale en sous-nutrition en 2017. Il était nécessaire de réorganiser l'utilisation de la disponibilité alimentaire pour mieux cibler les populations en sous-nutrition.

> - Une meilleure utilisation des produits produits végétaux aurait pu largement contribuer à régler le problème de sous-nutrition à l'échelle mondiale.

## <a id="B2"> 2) Recherches pour Julien </a>

### <a id="B2.1">2.1. Proportion des céréales pour l'alimentation humaine </a>

Note : la valeur de la disponibilité intérieure de chaque pays peut être connue grâce à deux calculs distincts:

- Disponibilité intérieure = Nourriture + Semences + Traitement + Pertes (valeur exprimée négativement)
- Disponibilité intérieure = Production + Variation de stock + Importation - Exportation.

In [47]:
# Calcul de la quantité de céréales pour l'alimentation humaine

cereales = ["Blé et produits", "Riz et produits", "Orge et produits", "Maïs et produits", "Seigle et produits", 
            "Avoine", "Millet et produits", "Sorgho et produits", "Céréales, Autres"]

dispo_cereales = dispo.loc[dispo['produit'].isin(cereales)]
total_cereales_hum = dispo_cereales['nourriture'].sum()

# Calcul de la disponibilité totale des céréales

total_cereales_dispo = dispo_cereales['dispo_interieure'].sum()

# Calcul de la proportion de céréales pour l'alimentation humaine

proportion_cereales_hum = round(total_cereales_hum * 100 / total_cereales_dispo, 2)
print(' ')
print('Les céréales représentent', color.BOLD+ f"{proportion_cereales_hum:,}"+color.END, "% de l'alimentation humaine.")

Les céréales représentent 18.13 % de l'alimentation humaine.

### <a id="B2.2">2.2. Proportion des céréales pour l'alimentation animale </a>

In [48]:
# Calcul de la quantité de céréales pour l'alimentation animale

total_cereales_animales = dispo_cereales['aliments_animaux'].sum()

# Calcul de la proportion de céréales pour l'alimentation animale

proportion_cereales_animales = round(total_cereales_animales * 100 / total_cereales_dispo, 2)
print(' ')
print('Les céréales représentent',color.BOLD+ f"{proportion_cereales_animales:,}"+color.END, "% de l'alimentation animale.")

Les céréales représentent 69.34 % de l'alimentation animale.

### <a id="B2.3">2.3. Proportion de personnes en sous-nutrition en Thaïlande </a>

In [49]:
# Aggrégation des Tables sous_nut17 et pop17

prop_sous_nut17 = pd.merge(sous_nut17, pop17, on = ['pays', 'annee'])

# Calcul du pourcentage de sous-nutrition par pays en 2017

prop_sous_nut17['pct_sous_nut'] = round(prop_sous_nut17['pop_sous_nut'] * 100 / prop_sous_nut17['population'], 2)

# Détermination de la Proportion de population en sous-nutrition en Thaïlande

sous_nut17_thailande = prop_sous_nut17.loc[prop_sous_nut17['pays'] == 'Thaïlande']
display(sous_nut17_thailande)
print('En 2017, il y a eu',color.BOLD+ '8.96 %' +color.END, 'de personnes en sous-nutrition en Thaïlande.')

          pays  annee  pop_sous_nut  population  pct_sous_nut
185  Thaïlande   2017       6199999    69209810          8.96

En 2017, il y a eu 8.96 % de personnes en sous-nutrition en Thaïlande.

### <a id="B2.4">2.4. Proportion d'exportation du manioc par rapport à la production en Thaïlande </a>

In [50]:
# Filtrage de la disponiblité du manioc pour la Thaïlande

dispo_manioc_thailande = dispo.loc[(dispo['produit'] == 'Manioc') & (dispo['pays'] == 'Thaïlande')]
dispo_manioc_thailande

# Proportion d'exportation du manioc par rapport à la production en Thaïlande

prop_export_manioc_thailande = round(dispo_manioc_thailande['qte_exportation'] * 100 / dispo_manioc_thailande['production'], 2)
print(prop_export_manioc_thailande)
print(' ')
print("La Proportion d'exportation du manioc par rapport à la production en Thaïlande est de:",color.BOLD+' 83,41%.' +color.END)

13809    83.41
dtype: float64

La Proportion d'exportation du manioc par rapport à la production en Thaïlande est de:  83,41%.

## Recommandations: 

> - Les **céréales apportent** de nombreux bénéfices : **glucides, fibres alimentaires, protéines, vitamines, minéraux et oligo-éléments.** Elles sont donc **essentielles à l'alimentation humaine**. Cependant, elles sont faiblement utilisées pour l'**alimentation humaine** (**18**%) comparée à celle des **animaux** (**69%**). **Pour réduire l'insécurité alimentaire, il est nécessaire d'augmenter la proportion de céréales pour l'alimentation humaine.**

> - Certains **pays en insécurité alimentaire** comme la Thaïlande, et qui **exportent énormément** un aliment essentiel comme le **manioc**, devraient **diminuer** son exportation **pour nourrir leur population sous-alimentée.**

## <a id="B3">3) Recherches pour Mélanie </a>

### <a id="B3.1">3.1. Liste des pays pour lesquels la proportion de personnes sous-alimentées est la plus forte en 2017 </a>

In [51]:
# Aggrégation des tables 'sous_nut17' et 'pop17' dans un nouveau dataframe 'pop_sous_nut17'

pop_sous_nut17 = pd.merge(sous_nut17, pop17, on = ['pays', 'annee'], how = 'inner') 

# Ajout de la variable 'proportion_sous_nut_parPays' dans la table 'pop_sous_nut17'

pop_sous_nut17['proportion_sous_nut_parPays'] = round(pop_sous_nut17['pop_sous_nut'] * 100 / pop_sous_nut17['population'], 2)

# Liste des pays pour lesquels la proportion de personnes sous-alimentées est la plus forte en 2017

pop_sous_nut17.sort_values(by= 'proportion_sous_nut_parPays', ascending = False).head(10)

,pays,annee,pop_sous_nut,population,proportion_sous_nut_parPays
78,Haïti,2017,5300000,10982366,48.26
157,République populaire démocratique de Corée,2017,12000000,25429825,47.19
108,Madagascar,2017,10500000,25570512,41.06
103,Libéria,2017,1799999,4702226,38.28
100,Lesotho,2017,800000,2091534,38.25
183,Tchad,2017,5699999,15016753,37.96
161,Rwanda,2017,4199999,11980961,35.06
121,Mozambique,2017,9399999,28649018,32.81
186,Timor-Leste,2017,400000,1243258,32.17
0,Afghanistan,2017,10500000,36296113,28.93

**Haïti, Corée et Madagascar** font partie du **top 3** des pays en **insécurité alimentaire** en 2017.

### <a id="B3.2">3.2. Liste des Pays qui ont le plus bénéficié d'aide alimentaire depuis 2013 </a>

In [52]:
# Détermination de la Liste des Pays qui ont le plus bénéficié d'aide alimentaire depuis 2013

pays_plus_aide = (aide_alim[['pays','quantite' ]].groupby('pays').sum()).sort_values(by = 'quantite', ascending=False)
pays_plus_aide.head(10)

                                      quantite
pays
République arabe syrienne         1.858943e+09
Éthiopie                          1.381294e+09
Yémen                             1.206484e+09
Soudan du Sud                     6.952480e+08
Soudan                            6.697840e+08
Kenya                             5.528360e+08
Bangladesh                        3.481880e+08
Somalie                           2.926780e+08
République démocratique du Congo  2.885020e+08
Niger                             2.763440e+08

**La Syrie, l'Ethiopie et le Yémen** représentent le **top 3** des pays qui ont le **plus bénéficié d'aide alimentaire** depuis 2013.

### <a id="B3.3">3.3. Liste des Pays  ayant le plus de disponibilité par habitant </a>

In [53]:
# Aggrégation de la Table dispo par pays

disponibilite_pays = dispo.groupby(['pays'])[['dispo_alim_kcal/pers/an']].sum().reset_index()

#Calcul de la disponibilité aliementaire pour l'exprimer en kcal/pers/j

disponibilite_pays['dispo_alim_kcal/pers/an'] = disponibilite_pays['dispo_alim_kcal/pers/an'] / 365

# Renommage de la variable 'dispo_alim_kcal/pers/an' en 'dispo_alim_kcal/pers/j'

disponibilite_pays.rename(columns={ 'dispo_alim_kcal/pers/an': 'dispo_alim_kcal/pers/j'}, inplace = True)

# Détermination de la liste des Pays ayant le plus de disponibilité par habitant

pays_plus_dispo = disponibilite_pays.sort_values(by = 'dispo_alim_kcal/pers/j', ascending = False)
pays_plus_dispo.head(10)

                      pays  dispo_alim_kcal/pers/j
11                Autriche                  3770.0
16                Belgique                  3737.0
159                Turquie                  3708.0
171  États-Unis d'Amérique                  3682.0
74                  Israël                  3610.0
72                 Irlande                  3602.0
75                  Italie                  3578.0
89              Luxembourg                  3540.0
168                 Égypte                  3518.0
4                Allemagne                  3503.0

**L'Autriche, la Belgique et la Turquie** représentent le **top 3** des pays ayant le **plus de Disponibilité alimentaire.**

### <a id="B3.4">3.4. Liste des Pays  ayant le moins de disponibilité par habitant </a>

In [54]:
# Détermination de la Liste des Pays  ayant le moins de disponibilité par habitant

pays_moins_dispo = disponibilite_pays.sort_values(by = 'dispo_alim_kcal/pers/j', ascending = True)
pays_moins_dispo.head(10)

                                           pays  dispo_alim_kcal/pers/j
128                   République centrafricaine                  1879.0
166                                      Zambie                  1924.0
91                                   Madagascar                  2056.0
0                                   Afghanistan                  2087.0
65                                        Haïti                  2089.0
133  République populaire démocratique de Corée                  2093.0
151                                       Tchad                  2109.0
167                                    Zimbabwe                  2113.0
114                                     Ouganda                  2126.0
154                                 Timor-Leste                  2129.0

**La République centrafricaine, la Zambie et Madagascar** représentent le **top 3** des pays ayant le **moins de disponibilité alimentaire.**

## Recommandations:

> - On constate que les pays qui semblent le **plus en difficulté alimentaire** comme la RCA, la Zambie et Madagascar par exemple, **n'ont pas le plus bénéficié de l'aide alimentaire**. Il est nécessaire de tenir compte du **taux de sous-nutrition** pour mieux **cibler l'aide alimentaire**.

> - On devrait **cibler les Pays ayant le plus de disponibilité par habitant** comme l'Autriche, la Belgique et la Turquie par exemple, **pour la contribution à l'aide alimentaire mondiale**.